<template id="confirm-dialog-template">
        <div class="modal" tabindex="-1" role="dialog" :style="{display: display}">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">
                            <i :class="['fas', icon]"></i> {{title}}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" v-on:click="close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>{{message}}</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" v-on:click="confirm">{{confirmActionTitle}}</button>
                        <button type="button" class="btn btn-secondary" v-on:click="close">Peruuta</button>
                    </div>
                </div>
            </div>
        </div>
    </template>
    <script>
        const confirmDialog = new Vue({
            el: '#confirm-dialog',
            template: "#confirm-dialog-template",
            data: {
                display: "none",
                title: "Otsikko",
                message: "Teksti",
                confirmActionTitle: "Ok",
                icon: "fa-info-circle"
            },
            methods: {
                open(title, message, confirmActionTitle, callback) {
                    this.title = title;
                    this.message = message;
                    this.confirmActionTitle = confirmActionTitle;
                    this.callback = callback;
                    this.display = "inline";
                },
                confirm() {
                    this.close();
                    this.callback();
                },
                close() {
                    this.display = "none";
                }
            }
        }).$mount('#app');
    </script>